---
// 公共 Layout
import Layout from "../layouts/Layout.astro";
// Aside组件
import Aside from "../components/Aside.astro";
// 文章页面样式
import "../styles/Article.less";
---

<Layout title="404 Not Found" keywords={[404]} description="404 Not Found">
	<section class="vh-container">
		<article class="vh-animation vh-article-main">
			<header>
				<h1 class="error-title">404 Not Found</h1>
			</header>
		</article>
		<Aside />
	</section>
</Layout>
