---
import SITE_INFO from "@/config";
import "./MainHeader.less";
---

<div class="header-main">
	<div class="avatar">
		<img src="/assets/images/lazy-loading.webp" data-vh-lz-src={SITE_INFO.Avatar} alt="avatar" />
	</div>
	<h3 class="auther">{SITE_INFO.Author || "-"}</h3>
{Array.isArray(SITE_INFO.TypeWriteList) && SITE_INFO.TypeWriteList.length > 0 && (
	<p class="desc"></p>
)}
</div>