---
import SITE_CONFIG from "../config";
const { Navs, Title } = SITE_CONFIG;
// 侧边栏 MobileSidebar 样式
import "../styles/components/MobileSidebar.less";
---

<nav class="vh-mobilesidebar">
	<section class="main">
		<div class="vh-mobilesidebar-list user-panel">
			<h3>{Title}</h3>
		</div>

		<div class="vh-mobilesidebar-list vh-link-list">
			{
				Navs.map(i => (
					<a class={i.link.replace("/", "")} href={i.link} target={i.target ? "_blank" : "_self"}>
						<object data={i.icon} type="image/svg+xml" />
						{i.text}
					</a>
				))
			}
		</div>
	</section>
</nav>
