---
import SITE_INFO from "@/config";
import "./Reward.less";
---

<section class="vh-reward">
	<p>喜欢这篇文章嘛，觉得文章不错的话，奖励奖励我！</p>
	<div class="reward-list"><span class="alipay"><i style={`background-image: url(${SITE_INFO.Reward.AliPay})`}></i>支付宝</span><span class="wechat"><i style={`background-image: url(${SITE_INFO.Reward.WeChat})`}></i>微信</span></div>
</section>
